# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# ======================
# Virtual environment
# ======================
venv/
.env/

# ======================
# Mac system
# ======================
.DS_Store

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Temporary / logs
# ======================
*.log
*.tmp

